<html>
<head>
    <script src="../../resources/layui/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../../resources/layui/css/layui.css">
    <script src="../../resources/layui/layui.js"></script>
    <title>Title</title>

    <style>
        .layui-form-label{
            width: 100px;
        }
        .layui-input-block {
            margin-left: 130px;
            min-height: 36px;
            width:80%
        }
    </style>
</head>
<body class="body">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加维修记录</legend>
</fieldset>

<form class="layui-form layui-from-pane"  style="margin-top:20px" >
<!--    document.cookie = "aptName:" + data.aptName +"&aptPhone:"+data.aptPhone+"&aptNo:"+data.aptNo+"&aptType:"+data.aptType+"&serviceType:"+data.serviceType-->
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">id</label>
        <div class="layui-input-block">
            <input type="text" value="" name="aptId" id="aptId" required  lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" value="" name="aptName" id="aptName" required  lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">联系方式</label>
        <div class="layui-input-block">
            <input type="text" value="" name="aptPhone" id="aptPhone"  required  lay-verify="required" autocomplete="off" placeholder="请输入联系方式" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item" style="display: none"  >
        <label class="layui-form-label">车牌号</label>

        <div class="layui-input-block">
            <input type="text" value="" name="aptNo" id="aptNo" required  lay-verify="required" autocomplete="off" placeholder="请输入车牌号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">车型</label>
        <div class="layui-input-block">
            <input type="text" value="" name="aptType" id="aptType" required  lay-verify="required" autocomplete="off" placeholder="请输入车型" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">预计</label>
        <div class="layui-input-block">
            <input type="date" name="time" id="time"
                   autocomplete="off"   class="layui-input">

        </div>
    </div>
    <div class="layui-form-item"  style="display: none">
        <label class="layui-form-label">维修</label>
        <div class="layui-input-block">
            <input type="date" name="RepTime" id="RepTime"
                   autocomplete="off"   class="layui-input">

        </div>
    </div>
    <div class="layui-form-item"  style="display: none">
        <label class="layui-form-label">服务类型</label>
        <div class="layui-input-block">

            <select id="type1">
                <option value="大类型">大类型</option>
                <option value="小类型">小类型</option>
            </select>

        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">服务部门</label>
        <div class="layui-input-block">

            <select id="select" name="select" lay-filter="select1">
                <option></option>
            </select>

        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">服务职位</label>
        <div class="layui-input-block">

            <select id="select1"  name = 'select' lay-filter="select2">
                <option>请先选择部门</option>
            </select>

        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label">服务人员</label>
        <div class="layui-input-block">

            <select id="select2">
                <option>请先选择职位</option>
            </select>

        </div>
    </div>


    <div class="layui-form-item" style="margin-top:40px">
        <div class="layui-input-block">
            <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>

    /*获取当前时间*/
    var time = new Date();
    /*格式化日，如果小于9，则补0*/
    var day = ("0" + time.getDate()).slice(-2);
    /*格式化月，如果小于9，则补0*/
    var month = ("0" + (time.getMonth() + 1)).slice(-2);
    /*拼接日期*/
    var today = time.getFullYear() + "-" + (month) + "-" + (day);
    /*完成赋值操作*/
    document.getElementById("time").value=today;



    layui.use('form', function () {
        var form = layui.form;
        getClassify();

        form.on('select(select1)', function (data) {
            getClassify1();
        })
        form.on('select(select2)', function (data) {

            getClassify2();
        })
    })

    function getClassify() {
        $.ajax({url:'../../Department_find',
            type:"post",
            async:true,
            dataType:"json",
            error:function(){
            },

            data: {"page":1,"limit":99999},
            success:function(data){
                var html = '';
                $.each(data.data, function(idx, obj) {
                    html+="<option value='"+obj.depName+"' name='"+obj.depId+"' >"+obj.depName+"</option>";

                })
                $("#select").empty().append(html);


                 layui.form.render("select");

            }

        });
    return false;
    }

    function getClassify1() {
        var wai= $("#select").find("option:selected").attr("name");


        $.ajax({url:'../../Position_find',
            type:"post",
            async:true,

            error:function(){
            },

            data: {"page":1,"limit":99999,"deparId":wai},
            success:function(data){
                var html="";
                $.each(data.data, function(idx, obj) {
                html+="<option value='"+obj.locId+"' >"+obj.locName+"</option>"

                })

                    $("#select1").empty().append(html);

                layui.form.render("select");


            }

        });
        return false;
    }

    function getClassify2() {
        var wai= $("#select1").find("option:selected").attr("value");


        $.ajax({url:'../../Staff_find',
            type:"post",
            async:true,

            error:function(){
            },

            data: {"page":1,"limit":99999,"postionId":wai},
            success:function(data){
                    var html="";
                $.each(data.data, function(idx, obj) {
                    html+="<option value='"+obj.empName+"'>"+obj.empName+"</option>"

                })
                $("#select2").empty().append(html);


                layui.form.render("select");
                // var str= data.substring(data.indexOf('['),data.lastIndexOf(']')+1);
                //
                //
                // var html = '';
                // $.each(JSON.parse(str), function(idx, obj) {
                //     html+="<option value='"+obj.EmpName+"' >"+obj.EmpName+"</option>";
                // });
                //
                // $("#ren").empty().append(html);
                // layui.form.render("select");

            }

        });
        return false;
    }

    layui.use('form', function(){
        var form = layui.form;
        var msg="";

        //监听提交
        form.on('submit(demo1)', function(data) {

              var  servicetype = $("#type1 option:selected").text();
            var person= $("#select2 option:selected").text();

            var index = layer.alert("确认预约?", {
                title: '提示'
            }, function () {

                $.ajax({

                    url: "../../Rep_save",    // 提交到controller的url路径
                    type: "post",    // 提交方式

                    data:{"RepName": data.field.aptName,
                        "RepPhone":data.field.aptPhone,"RepType":data.field.aptType,"RepNum":data.field.aptNo,
                        "RepService":servicetype,"RepTime":data.field.RepTime,"Time":data.field.time,
                        "RepPerson":person,
                        "RepState":'0',"RepPrice":0}, // data为String类型，必须为 Key/Value 格式。
                    // 服务器端返回的数据类型
                    async:false,
                    success: function (data) {

                        if(data.msg==="1"){


                            layer.msg("预约成功", {icon: 1,time:1000}, function () {
                                        msg="0";

                                     var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                    parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                                    parent.layer.close(index)

                            });


                        }else {
                           layer.msg("预约失败", {icon: 2,time:1000}, function () {

                                // $.ajax({url:'../../Servletappodel?id='+id,
                                //     type:"post",
                                //
                                // });
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.location.reload();//刷新父页面，注意一定要在关闭当前iframe层之前执行刷新
                                parent.layer.close(index)
                            });
                        }

                    }

                });
            })

                $.post("../../Appo_delete", {aptId: data.field.aptId}, function (ret) {

                });


            return false;



        })

    });
</script>
<script>

    var params= document.cookie;
    var pa = params.split("&");

    var s = new Object();
    for(var i = 0; i < pa.length; i ++){
        s[pa[i].split(":")[0]] = pa[i].split(":")[1];
    }
    // document.cookie = "repId:" + data.repId +"repName:" + data.repName
    //     + "&repPhone:" + data.repPhone + "&repType:" + data.repType +
    //     "&:"+data.repNum +"&repTime:"+data.repTime+"&time:"+data.time+"&repService:" +
    //     ""+data.repService+"&repPerson:"+data.repPerson+"&repPrice:"+data.repPrice+"&repState:"+data.repState;
    <!--    document.cookie = "aptName:" + data.aptName +"&aptPhone:"+data.aptPhone+"&aptNo:"+data.aptNo+"&aptType:"+data.aptType+"&serviceType:"+data.serviceType-->

    document.getElementById("aptName").value =s.aptName;

    document.getElementById("aptPhone").value = s.aptPhone;
    document.getElementById("aptNo").value =s.aptNo;

    document.getElementById("aptType").value = s.aptType;
    document.getElementById("aptId").value=s.aptId;

    $("#type1 option[value=serviceType]").prop("selected","selected");
    var time = new Date();
    /*格式化日，如果小于9，则补0*/
    var day = ("0" + time.getDate()).slice(-2);
    /*格式化月，如果小于9，则补0*/
    var month = ("0" + (time.getMonth() + 1)).slice(-2);
    /*拼接日期*/
    var today = time.getFullYear() + "-" + (month) + "-" + (day);
    /*完成赋值操作*/

    document.getElementById("RepTime").value=today;

</script>

</body>
</html>
