<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <script src="../resources/layui/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../resources/layui/css/layui.css">
    <script src="../resources/layui/layui.js"></script>
</head>
<style>
    .layui-table-cell {
        height: 60px;
        line-height: 60px;
    }
</style>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">后台管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>-->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" id="a">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    ${param.name}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="../index.jsp">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">管理员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="add()">注册</a></dd>
                        <dd><a onclick="upd()">修改</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">人员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="department.jsp" target="voiceList">部门管理</a></dd>
                        <dd><a href="Position.jsp" target="voiceList">职位管理</a></dd>
                        <dd><a href="staff.jsp" target="voiceList">员工管理</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">招聘管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="Release.jsp" target="voiceList">发布需求</a></dd>
                        <dd><a href="Application.jsp" target="voiceList">应聘管理</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">库存管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="enter.jsp" target="voiceList">入库管理</a></dd>
                        <dd><a href="out.jsp" target="voiceList">出库管理</a></dd>
                        <dd><a href="inventory.jsp" target="voiceList">库存管理</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">订单管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="Pre.jsp" target="voiceList">预约管理</a></dd>
                        <dd><a href="mt.jsp" target="voiceList">维修管理</a></dd>


                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="Service.jsp" target="voiceList">服务管理</a>

                </li>
                <li class="layui-nav-item">
                    <a href="message.jsp" target="voiceList">留言管理</a>

                </li>
                <li class="layui-nav-item">
                    <a href="News.html" target="voiceList">新闻管理</a>

                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; ">

            <iframe class="layadmin-iframe ifrem_voice" src="department.jsp" width="100%" height="600px"  name="voiceList" frameborder="0" scrolling="off" ></iframe>

        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });


    function upd() {


        layui.use('form', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '管理员修改',

                area: ['30%', '60%'],
                shadeClose: false, //点击遮罩关闭
                content: 'Sub/user_upd.jsp?name='+document.getElementById('a').innerText


            })
        });
    }
    function add() {


        layui.use('form', function(){
            var layer = layui.layer;
            layer.open({
                type: 2,
                title: '管理员添加',

                area: ['30%', '60%'],
                shadeClose: false, //点击遮罩关闭
                content: 'Sub/user_add.jsp'



            })
        });
    }
</script>

</body>
</html>